{% block content %}
    <h1>footer</h1>
{% endblock %}

{# JS #}
{# {% block extra_js %}
    <script src="src\views\BaseTwig\BaseTwig.js"></script>
{% endblock %} #}

{# CSS #}
{# {% block extra_css %}
    <link rel="stylesheet" href="src\views\BaseTwig\BaseTwig.css">
{% endblock %} #}