{% block content %}
   <h1>header</h1>
{% endblock %}

{# {% block extra_js %}
    <script src="src\views\BaseTwig\BaseTwig.js"></script>
{% endblock %} #}


{# {% block extra_css %}
    <link rel="stylesheet" href="src\views\BaseTwig\BaseTwig.css">
{% endblock %} #}